if messages.length > 0
    for msg in messages
        .card.my-3.col-12
            .card-body
                p.card-text Category: #{msg.category}
                p.card-text Place: #{msg.place}
                p.card-text Amount: #{msg.amount}
                p.card-text Date: #{msg.date}
                p.card-text Note: #{msg.note}

else
    p.alert.alert-info(role='alert')
        | There is currently no data in the guestbook.

